#clock {    
    position: relative;    
    display: inline-block;
    margin-top: 5%;
    margin-left: 16% ; 
}


#clock h2 {
    position: relative;    
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);  
}

#time div span {
    background-color: rgba(185, 224, 241,0.2);
   
    margin: 5px;
    height: 160px;
    width: 140px ;
   
    font-size: 4rem;
    font-weight: bold;
}
