* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/saat_kulesi_izmir2.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;  
    text-align: center;
    min-height: 100vh;
    color: rgb(2, 2, 2);
    position: relative;
}

#clock {   
    position: relative;    
    display: inline-block;
    margin-top: 2%;
    margin-left: 18% ;  
}


#clock h2 {
    position: relative;    
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    border-radius: ;
}


#time {
    position: relative;    
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5%;
    justify-content: space-between;
   
}


#time div span {
    background-color: rgba(185, 224, 241,0.2);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 130px;
    width: 120px ;
    border-radius: 20px;
    font-size: 3.75rem;
    font-weight: bold;
    border: 1px solid rgba(108, 129, 226,0.5);
}

#time div span:nth-child(2) {   
    font-size: 1.5rem;
    font-weight: bold;
}